pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: var(--sn-stylekit-foreground-color);
  background: var(--sn-stylekit-background-color)
}

.hljs-comment,
.hljs-quote {
  color: var(--sn-stylekit-passive-color-1);
  font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--sn-stylekit-accessory-tint-color-4)
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--sn-stylekit-accessory-tint-color-2)
}

.hljs-literal {
  color: var(--sn-stylekit-accessory-tint-color-1)
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--sn-stylekit-accessory-tint-color-5)
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--sn-stylekit-accessory-tint-color-6)
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--sn-stylekit-accessory-tint-color-1)
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--sn-stylekit-accessory-tint-color-3)
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}
